<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Layout Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/customer.css}" />
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}" /> -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script
	src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js"
	type="text/javascript"></script>
<link
	href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"
	rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/../js/payment.js"></script>
<style>
.modal-header, h4, .close {
	background-color: #5cb85c;
	color: white !important;
	text-align: center;
	font-size: 30px;
}

.modal-footer {
	background-color: #f9f9f9;
}
</style>
</head>
<body>
	<div class="container">

		<header>
			<h1>Main Page</h1>
		</header>

		<nav>
			<ul>
				<li>

					<div class="box">
						<a class="button" href="#customer">Customer</a>
					</div>

					<div id="customer" class="overlay">
						<div class="popup">
							<h2 align="center">Customer Details</h2>
							<a class="close" href="#">×</a>
							<div class="container">
								<div class="row">
									<div class="col-md-6 col-md-offset-3">

										<!-- <form action="#" th:action="@{/customer}" th:object="${customer}"
											method="post"></form> -->
										<form action="#" autocomplete="off" th:action="@{/customer}"
											th:object="${customer}" method="post" class="form-horizontal"
											role="form">
											<div class="form-group">
												<div class="col-sm-9">
													<label th:if="${#fields.hasErrors('custCutomerName')}"
														th:errors="*{custCutomerName}" class="validation-message"></label>
													<input type="text" th:field="*{custCutomerName}"
														placeholder="Cutomer Name" class="form-control"
														required="required" />
												</div>
											</div>

											<div class="form-group">
												<div class="col-sm-9">
													<label th:if="${#fields.hasErrors('custMainPhone')}"
														th:errors="*{custMainPhone}" class="validation-message"></label>
													<input type="text" th:field="*{custMainPhone}"
														placeholder="Main Phone" class="form-control"
														required="required" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<label
														th:if="${#fields.hasErrors('custbusinessRegistrationNumber')}"
														th:errors="*{custbusinessRegistrationNumber}"
														class="validation-message"></label> <input type="text"
														th:field="*{custbusinessRegistrationNumber}"
														placeholder="Business Registration Number"
														class="form-control" required="required" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<label th:if="${#fields.hasErrors('custgstTaxNumber')}"
														th:errors="*{custgstTaxNumber}" class="validation-message"></label>
													<input type="text" th:field="*{custgstTaxNumber}"
														placeholder="GST/Tax Number" class="form-control"
														required="required" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<label th:if="${#fields.hasErrors('custMainEmail')}"
														th:errors="*{custMainEmail}" class="validation-message"></label>
													<input type="text" th:field="*{custMainEmail}"
														placeholder="Main Email" class="form-control"
														required="required" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<label th:if="${#fields.hasErrors('custWebsite')}"
														th:errors="*{custWebsite}" class="validation-message"></label>
													<input type="text" th:field="*{custWebsite}"
														placeholder="Website" class="form-control"
														required="required" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<label th:if="${#fields.hasErrors('custFax')}"
														th:errors="*{custFax}" class="validation-message"></label>
													<input type="text" th:field="*{custFax}" placeholder="Fax"
														class="form-control" required="required" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<label th:if="${#fields.hasErrors('custBillTo')}"
														th:errors="*{custBillTo}" class="validation-message"></label>
													<input type="text" th:field="*{custBillTo}"
														placeholder="Bill To" class="form-control"
														required="required" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<label th:if="${#fields.hasErrors('custShipTo')}"
														th:errors="*{custShipTo}" class="validation-message"></label>
													<input type="text" th:field="*{custShipTo}"
														placeholder="Ship To" class="form-control"
														required="required" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<!-- <button type="button" class="btn btn-primary btn-block"
														id="btnShow">Payment</button> -->
													<input type="button" id="btnShow" value="Payment" />
													<div id="dialog" style="display: none" align="center">

														<input type="text"
															placeholder="Credit Limit"/> 
														<input type="text"  placeholder="Payment Terms"/>
														 <input type="submit" value="Submit"/>

													</div>
													<!-- <div id="dialog" style="display: none" align="center">
														<div class="container">
															<script src="payment.js"></script>
															<div class="row">
																<div class="col-md-6 col-md-offset-3">
																	<form autocomplete="off" action="#"
																		th:action="@{/layout}" th:object="${payment}"
																		method="post" class="form-horizontal" role="form">
																		<h2>Payment</h2>
																		<div class="form-group">
																			<div class="col-sm-9">
																				<label th:if="${#fields.hasErrors('creditLimit')}"
																					th:errors="*{creditLimit}"
																					class="validation-message"></label> <input
																					type="text" th:field="*{creditLimit}"
																					placeholder="Credit Limit" class="form-control" />
																			</div>
																		</div>

																		<div class="form-group">
																			<div class="col-sm-9">
																				<label th:if="${#fields.hasErrors('paymentTerms')}"
																					th:errors="*{paymentTerms}"
																					class="validation-message"></label> <input
																					type="text" th:field="*{paymentTerms}"
																					placeholder="Payment Terms" class="form-control" />
																			</div>
																		</div>
																		<div class="form-group">
																			<div class="col-sm-9">
																				<button type="submit"
																					class="btn btn-primary btn-block">Submit</button>
																			</div>
																		</div>

																		<span th:utext="${successMessage}"></span>


																	</form>
																</div>
															</div>
														</div>

																<p>
			<input type="submit" value="Submit" />
		</p>
													</div> -->
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<button type="submit" class="btn btn-primary btn-block">Submit</button>
												</div>
											</div>

											<span th:utext="${successMessage}"></span>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</li>

				<li>
					<div class="box">
						<a class="button" href="#vendor">Vendor</a>
					</div>
				</li>

				<!--<li> 
				<div id="vendor" class="overlay">
						<div class="popup">
							<h2 align="center">Vendor Details</h2>
							<a class="close" href="#">×</a>
							<div class="container">
								<div class="row">
									<div class="col-md-6 col-md-offset-3">

										<form action="#" th:action="@{/vendor}" th:object="${vendor}"
											method="post"></form>
										<form action="#" autocomplete="off" th:action="@{/layout}"
											th:object="${vendor}" method="post" class="form-horizontal"
											role="form">
											<div class="form-group">
												<div class="col-sm-9">
													<label th:if="${#fields.hasErrors('vendorName')}"
														th:errors="*{vendorName}" class="validation-message"></label>
													<input type="text" th:field="*{vendorName}"
														placeholder="Vendor Name" class="form-control" />
												</div>
											</div>

											<div class="form-group">
												<div class="col-sm-9">
													<label th:if="${#fields.hasErrors('vendorMainPhone')}"
														th:errors="*{vendorMainPhone}" class="validation-message"></label>
													<input type="text" th:field="*{vendorMainPhone}"
														placeholder="Main Phone" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<label
														th:if="${#fields.hasErrors('vendorbusiRegistrationNumber')}"
														th:errors="*{vendorbusiRegistrationNumber}"
														class="validation-message"></label> <input type="text"
														th:field="*{vendorbusiRegistrationNumber}"
														placeholder="vendor Registration Number"
														class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<label th:if="${#fields.hasErrors('vendorGstTaxNumber')}"
														th:errors="*{vendorGstTaxNumber}"
														class="validation-message"></label> <input type="text"
														th:field="*{vendorGstTaxNumber}"
														placeholder="GST/Tax Number" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<label th:if="${#fields.hasErrors('vendorMainEmail')}"
														th:errors="*{vendorMainEmail}" class="validation-message"></label>
													<input type="text" th:field="*{vendorMainEmail}"
														placeholder="Main Email" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<label th:if="${#fields.hasErrors('vendorWebsite')}"
														th:errors="*{vendorWebsite}" class="validation-message"></label>
													<input type="text" th:field="*{vendorWebsite}"
														placeholder="Website" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<label th:if="${#fields.hasErrors('vendorFax')}"
														th:errors="*{vendorFax}" class="validation-message"></label>
													<input type="text" th:field="*{vendorFax}"
														placeholder="Fax" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<label th:if="${#fields.hasErrors('vendorBillTo')}"
														th:errors="*{vendorBillTo}" class="validation-message"></label>
													<input type="text" th:field="*{vendorBillTo}"
														placeholder="Bill To" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<label th:if="${#fields.hasErrors('vendorShipTo')}"
														th:errors="*{vendorShipTo}" class="validation-message"></label>
													<input type="text" th:field="*{vendorShipTo}"
														placeholder="Ship To" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<button type="button" class="btn btn-primary btn-block">Payment</button>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-9">
													<button type="submit" class="btn btn-primary btn-block">Submit</button>
												</div>
											</div>

											<span th:utext="${successMessage}"></span>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>




				</li> -->
			</ul>
		</nav>
		<h1>Welcome</h1>
		<footer>Copyright &copy; Workspez.com</footer>

	</div>

</body>
</html>


<!-- <!DOCTYPE html>
<html>
<head>

<title>Bootstrap Thymeleaf Example</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</meta>
Bootstrap
<link href="webjars/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />



<link rel="stylesheet" type="text/css" href="static/popup_style.css" />
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="popup_effect.js"></script>
<div th:replace="fragments/header :: header"></div>
</head>
<body>


	<h2>Welcome</h2>

</body>
</html> -->